{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kml ft geoman test</title>

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/L.Control.Window.css' %}" />
    <link rel="stylesheet" href="{% static 'css/leaflet-geoman.css' %}" />

</head>
<body>
    <div id="map" style="height: 80vh;"></div>
    <div>
        <label for="fileInput">Выберите файл KML:</label>
        <input type="file" id="fileInput" accept=".kml" />
        <button id="loadKMLButton">Load KML</button>
        <button id="showGeoJSON">Show GeoJSON</button>
    </div>

    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/L.KML.js' %}"></script>
    <script src="{% static 'js/leaflet-geoman.min.js' %}"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    <script>
        var map = new L.Map('map').setView([44.95792, 34.11026], 9);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Enable Geoman
        map.pm.addControls({
            position: 'topleft',
        });

        var geojsonLayer = L.geoJSON().addTo(map);
        var newGeojsonLayer = L.geoJSON().addTo(map);

        map.on('pm:create', function (e) {
            // Вызывается после каждой созданной фигуры Geoman
                updateGeoJSON();
<!--            geojsonLayer.addLayer(e.layer);-->
<!--            pmIgnore: false;-->
            console.log('feature added')
        });

        var updatingGeoJSON = false;

        map.on('layerremove', function (event) {
            if (!updatingGeoJSON) {
                var layer = event.layer;

                if (map.pm.globalRemovalEnabled()) {
                    // Обработка удаления объекта, например, можно обновить GeoJSON данные
                    updatingGeoJSON = true; // Устанавливаем флаг перед обновлением GeoJSON
                    map.removeLayer(layer)
                    updateGeoJSON()
<!--                    updateGeoJSON(layer);-->
                    updatingGeoJSON = false; // Сбрасываем флаг после обновления GeoJSON
                }

            }
        });
        map.on("pm:globalremovalmodetoggled", (e) => {
            console.log(e);
        });

        function updateGeoJSON(layer) {
            // Получите обновленные данные в виде объекта GeoJSON
            var updatedData = geojsonLayer.toGeoJSON();

            // Удалите старый слой
            map.removeLayer(geojsonLayer);

            // Добавьте новый слой с обновленными данными
            geojsonLayer = L.geoJSON(updatedData).addTo(map);

            console.log('GeoJSON is up to date');
        }



        // Функция для вывода GeoJSON в консоль
        function logGeoJSON() {
<!--            var geoJSONData = geojsonLayer.toGeoJSON();-->
            var visibleLayers = L.PM.Utils.findLayers(map);
            var group = L.featureGroup();
            visibleLayers.forEach((layer)=>{
                group.addLayer(layer);
            });
            geoJSONData = group.toGeoJSON();

            console.log(JSON.stringify(geoJSONData));

        }

        // Добавьте обработчик событий для кнопки
        document.getElementById('showGeoJSON').addEventListener('click', logGeoJSON);

        // Обработка выбора файла
        document.getElementById('fileInput').addEventListener('change', function (e) {
            var file = e.target.files[0];
            if (file) {

                // Создаем URL из File объекта
                var url = URL.createObjectURL(file);

                // Загрузка KML с помощью leaflet-omnivore
                var kmlLayer = omnivore.kml(url).addTo(map);

                kmlLayer.on('ready', function () {
                // Extract GeoJSON features from the KML layer and add them to geojsonLayer
                var kmlGeoJSON = kmlLayer.toGeoJSON();
                geojsonLayer.addData(kmlGeoJSON);

                map.removeLayer(kmlLayer);

                // Revoke the URL after loading
                URL.revokeObjectURL(url);
                });

            }
        });
        // Добавление обработчика событий для кнопки загрузки KML
        document.getElementById('loadKMLButton').addEventListener('click', function () {
        document.getElementById('fileInput').click();
});

    </script>
</body>
</html>