{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор KML</title>
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/L.Control.Window.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />

    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/L.KML.js' %}"></script>
    <script src="{% static 'js/L.Control.Window.js' %}"></script>

</head>
<body>
    <div id="map" style="width: 100%; height: 90vh;"></div>
    <div>
        <label for="fileInput">Выберите файл KML:</label>
        <input type="file" id="fileInput" accept=".kml" />
        <button onclick="loadKML()">Загрузить</button>
        <button id="showGeoJSON">Show GeoJSON</button>
    </div>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script type="text/javascript">
        const map = new L.Map('map').setView([44.95792, 34.11026], 9);
        const osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; OpenStreetMap contributors',
        });

        map.addLayer(osm);

        var geojsonLayer = L.geoJSON().addTo(map);

        function loadKML() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const kmltext = e.target.result;
                    const parser = new DOMParser();
                    const kml = parser.parseFromString(kmltext, 'text/xml');
                    const track = new L.KML(kml);

                    map.addLayer(track);

                    const bounds = track.getBounds();
                    map.fitBounds(bounds);

                    addInteractiveControls();
                };

                reader.readAsText(file);
            } else {
                alert('Выберите файл KML');
            }
        }

        map.pm.addControls({
        position: 'topleft',
        pmIgnore: false,
        drawCircleMarker: false,
        rotateMode: false,
        });
        map.pm.setLang("ru");

        function addInteractiveControls() {

            // Добавление обработчика события после создания нового слоя
            map.on('pm:create', function (e) {
                geojsonLayer.addLayer(e.layer);
                const layer = e.layer;


                // Добавление попапа
                geojsonLayer.bindPopup('Click to edit me!');
                layer.bindPopup('Click to edit me!');

                // Добавление обработчика события при клике на объект
                geojsonLayer.on('click', function (e) {
                    layer.on('click', function (e) {
                        const newName = prompt('Enter a new name for the object:', layer.options.name);
                        if (newName) {
                            geojsonLayer.options.name = newName;
                            geojsonLayer.getPopup().setContent('Name: ' + newName + '<br>Click to edit me!');
                        }
                    });
                });
            });
        }
        addInteractiveControls()

        // Function to log GeoJSON to console
        function logGeoJSON() {
            var geoJSONData = geojsonLayer.toGeoJSON();
            console.log(JSON.stringify(geoJSONData));
            console.log(geojsonLayer)
        }

        // Add event listener to the button
        document.getElementById('showGeoJSON').addEventListener('click', logGeoJSON);


    </script>
</body>
</html>
