<!DOCTYPE html>
<html>
<head>
    <title>Карта GPON</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link
     rel="stylesheet"
     href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css"
    />
    <style>
        #map {
            height: 98vh;
        }
    </style>
</head>
{% load static %}
<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>

    <script>
        $(document).ready(function() {
            var map = L.map('map').setView([44.95792, 34.11026], 9);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; OpenStreetMap contributors',
                maxZoom: 19,
            }).addTo(map);

            map.pm.addControls({
                position: 'topleft',
                drawCircleMarker: false,
                rotateMode: false,
            });
            map.pm.setLang("ru");

            // Создание слоев для точек и линий
            var pointLayer = L.layerGroup({ overlay: false });
            var lineLayerGroup = L.layerGroup({ overlay: false });
            var realLineLayerGroup = L.layerGroup().addTo(map);
            var projectLineLayerGroup = L.layerGroup().addTo(map);
            var polygonLayer = L.layerGroup({ overlay: false });
            var couplingLayer = L.layerGroup({ overlay: false });
            var bstationLayer = L.layerGroup({ overlay: false });
            var osbLayer = L.layerGroup({ overlay: false });
            var oskmLayer = L.layerGroup({ overlay: false });

            var baseUrl;

            if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
                baseUrl = "http://localhost:8000";
            } else {
                baseUrl = "http://62.113.103.96";
            }

<!--            // AJAX-запрос для получения данных точек-->
<!--            $.ajax({-->
<!--                url: baseUrl + '/qgis_point',-->
<!--                type: 'GET',-->
<!--                dataType: 'json',-->
<!--                success: function(data) {-->
<!--                    L.geoJSON(data, {-->
<!--                        pointToLayer: function(feature, latlng) {-->
<!--                            return L.circleMarker(latlng, {-->
<!--                                radius: 4,-->
<!--                                fillColor: 'blue',-->
<!--                                color: 'blue',-->
<!--                                weight: 1,-->
<!--                                opacity: 1,-->
<!--                                fillOpacity: 0.4-->
<!--                            });-->
<!--                        },-->
<!--                        onEachFeature: function(feature, layer) {-->
<!--                            pointLayer.addLayer(layer);-->
<!--                        },-->
<!--                    });-->
<!--                },-->
<!--                error: function(xhr, status, error) {-->
<!--                    console.error(error);-->
<!--                },-->
<!--            });-->

            // AJAX-запрос для получения данных точек с данными о линиях
            $.ajax({
                url: baseUrl + '/qgis_point_info',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        pointToLayer: function(feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 4,
                                fillColor: 'blue',
                                color: 'blue',
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.4
                            });
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getPointContent(feature.properties));
                        }
                    }).addTo(pointLayer);
                    pointLayer.eachLayer(function(layer) {
                        layer.options.className = 'point-layer';
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getPointContent(properties) {
                var pointContent = '<b>Линии:</b> '
                if (properties.line_info_array != '[None]') {
                    pointContent += properties.line_info_array;
                } else if (properties.line_info_array == '[None]') {
                    pointContent += 'нет'
                }

                if (properties.p_owner && properties.p_owner != null) {
                    pointContent += '<br><b>Собственник: </b>' + properties.p_owner
                }
                if (properties.p_type && properties.p_type != null) {
                    pointContent += '<br><b>Тип опоры: </b>' + properties.p_type
                }
                if (properties.p_mount && properties.p_mount != null) {
                    pointContent += '<br><b>Крепление: </b>' + properties.p_mount
                }

                return pointContent;
            }

            // AJAX-запрос для получения данных линий
            $.ajax({
                url: baseUrl + '/qgis_colorline',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var lineLayer = L.geoJSON(data, {
                        style: function(feature) {
                            var capacity = feature.properties.capacity;
                            var lineColor = feature.properties.color;

                            return {
                                color: lineColor,
                                dashArray: getStyleByCapacity(capacity),
                                weight: getWeightByCapacity(capacity),
                            };
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getPopupContent(feature.properties));
                        },
                    });
                    lineLayer.eachLayer(function(layer) {
                        layer.options.className = 'line-layer'
                    });
                    lineLayer.addTo(lineLayerGroup)
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            // AJAX-запрос для получения проектных линий
            $.ajax({
                url: baseUrl + '/qgis_colorline',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var filteredData = data.features.filter(function(feature) {
                        return feature.properties.status == 0;
                    });
                    var projectLineLayer = L.geoJSON(filteredData, {
                        style: function(feature) {
                            var capacity = feature.properties.capacity;
                            var lineColor = feature.properties.color;

                            return {
                                color: lineColor,
                                dashArray: getStyleByCapacity(capacity),
                                weight: getWeightByCapacity(capacity),
                            };
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getPopupContent(feature.properties));
                        },
                    });
                    projectLineLayer.eachLayer(function(layer) {
                        layer.options.className = 'line-layer'
                    });
                    projectLineLayer.addTo(projectLineLayerGroup)
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            // AJAX-запрос для получения данных фактических линий
            $.ajax({
                url: baseUrl + '/qgis_realline',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    var filteredData = data.features.filter(function(feature) {
                        return feature.properties.capacity != 'ВУ-12 (SAK-SEV)  B-147';
                    });

                    var realLineLayer = L.geoJSON(filteredData, {
                        style: function(feature) {
                            var capacity = feature.properties.capacity;
                            var realLineColor = feature.properties.color;

                            var capacity64Layer = L.geoJSON([], {
                                style: {
                                    color: realLineColor,
                                    dashArray: getStyleByCapacity(4),
                                    weight: 4,
                                },
                            });



                            return {
                                color: realLineColor,
                                dashArray: getStyleByCapacity(capacity),
                                weight: 4,
                            };
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getRealLineContent(feature.properties));
                        },
                    });
                    realLineLayer.eachLayer(function(layer) {
                        layer.options.className = 'line-layer'
                    });
                    realLineLayer.addTo(realLineLayerGroup)
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

<!--            function getColorByCapacity(capacity) {-->
<!--                if (capacity == 4) {-->
<!--                return '#0da606';-->
<!--                } else if (capacity == 8) {-->
<!--                return '#ff0400';-->
<!--                } else if (capacity == 16) {-->
<!--                return '#1f76b4';-->
<!--                } else if (capacity == 24) {-->
<!--                return '#f7801e';-->
<!--                } else if (capacity == 48) {-->
<!--                return '#2757cf';-->
<!--                } else if (capacity == 64) {-->
<!--                return '#ee06ee';-->
<!--                } else if (capacity == 641) {-->
<!--                return '#ee06ee';-->
<!--                } else if (capacity == 96) {-->
<!--                return '#7d7d7c';-->
<!--                } else {-->
<!--                return 'black';-->
<!--                }-->
<!--            }-->
            
            function getStyleByCapacity(capacity) {
                if (capacity == 641) {
                return '10, 10';
                } else {
                return '';
                }
            }
            
            function getWeightByCapacity(capacity) {
                if (capacity == 1000) {
                return '2';
                } else {
                return '4';
                }
            }

            function getPopupContent(properties) {
                var popupContent = '<b>ВОК ' + properties.capacity + '</b><br><b>Статус:</b> ';
                if (properties.status == '1' && properties.cable_mark != null) {
                    popupContent += 'построено<br><b>Кабель: </b> ' + properties.cable_mark
                } else if (properties.status == '1' && properties.cable_mark == null) {
                    popupContent += 'построено'
                } else if (properties.status == '0') {
                    popupContent += 'проект';
                }
                return popupContent;
            }

            function getRealLineContent(properties) {
                var popupContent = '<b>ВОК ' + properties.capacity + '</b><br><b>Статус:</b> ';
                if (properties.status == '1') {
                    popupContent += 'построено'
                } else if (properties.status == '0') {
                    popupContent += 'проект';
                }
                if (properties.cable_mark != null) {
                    popupContent += '<br><b>Кабель: </b> ' + properties.cable_mark;
                }
                return popupContent;
            }

            // AJAX-запрос для получения данных муфт
            $.ajax({
                url: baseUrl + '/qgis_coupling',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        pointToLayer: function(feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 6,
                                fillColor: '#db1e2a',
                                color: '#db1e2a',
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.9
                            });
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindTooltip(getCouplingTooltip(feature.properties), {permanent: true, opacity: 0.9}).openTooltip();
                            layer.bindPopup(getCouplingContent(feature.properties));
                        }
                    }).addTo(couplingLayer);
                    couplingLayer.eachLayer(function(layer) {
                        layer.options.className = 'coupling-layer';
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getCouplingContent(properties) {
                var couplingContent = '<b>Муфта:</b> ' + properties.coupling + '<br><b>Статус:</b> '
                if (properties.status == '1') {
                    couplingContent += 'построено'
                } else if (properties.status == '0') {
                    couplingContent += 'проект'
                }
                    couplingContent += '<br>'
                if (properties.inform !== null) {
                    couplingContent += properties.inform;
                }

                return couplingContent;
            }

            function getCouplingTooltip(properties) {
                var couplingTooltip = '<b>Муфта:</b> ' + properties.coupling
                return couplingTooltip;
            }

            // AJAX-запрос для получения данных базовых станций
            $.ajax({
                url: baseUrl + '/qgis_bstation',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        pointToLayer: function(feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 8,
                                fillColor: 'yellow',
                                color: 'yellow',
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.9
                            });
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getBstationContent(feature.properties));
                        }
                    }).addTo(bstationLayer);
                    bstationLayer.eachLayer(function(layer) {
                        layer.options.className = 'bstation-layer';
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getBstationContent(properties) {
                var bstationContent = '<b>БС:</b> ' + properties.name;
                return bstationContent;
            }

            // AJAX-запрос для получения данных ОСБ
            $.ajax({
                url: baseUrl + '/qgis_osb',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        pointToLayer: function(feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 4,
                                fillColor: 'red',
                                color: 'red',
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 1
                            });
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindTooltip(getOSBTooltip(feature.properties), {permanent: true, opacity: 0.9}).openTooltip();
                            layer.bindPopup(getOSBContent(feature.properties));
                        }
                    }).addTo(osbLayer);
                    osbLayer.eachLayer(function(layer) {
                        layer.options.className = 'osb-layer';
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getOSBContent(properties) {
                var osbContent = properties.osb;
                osbContent += '<br><b>Статус: </b>'
                if (properties.status == '1') {
                    osbContent += 'построено'
                } else if (properties.status == '0') {
                    osbContent += 'проект'
                }
                osbContent += '<br>'
                if (properties.inform !== null) {
                    osbContent += '<br>' + properties.inform;
                }
                return osbContent;
            }

            function getOSBTooltip(properties) {
                var OSBTooltip = properties.osb
                return OSBTooltip;
            }

            // AJAX-запрос для получения данных ОСКМ
            $.ajax({
                url: baseUrl + '/qgis_oskm',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        pointToLayer: function(feature, latlng) {
                            return L.circleMarker(latlng, {
                                radius: 8,
                                fillColor: 'green',
                                color: 'green',
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 1
                            });
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindTooltip(getOSKMTooltip(feature.properties), {permanent: true, opacity: 0.9}).openTooltip();
                            layer.bindPopup(getOSKMContent(feature.properties));
                        }
                    }).addTo(oskmLayer);
                    oskmLayer.eachLayer(function(layer) {
                        layer.options.className = 'oskm-layer';
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getOSKMContent(properties) {
                var oskmContent = properties.oskm;
                oskmContent += '<br><b>Статус: </b>'
                if (properties.status == '1') {
                    oskmContent += 'построено'
                } else if (properties.status == '0') {
                    oskmContent += 'проект'
                }
                oskmContent += '<br>'

                if (properties.inform !== null) {
                    oskmContent += '<br>' + properties.inform;
                }
                return oskmContent;
            }

            function getOSKMTooltip(properties) {
                var OSKMTooltip = properties.oskm
                return OSKMTooltip;
            }

            // AJAX-запрос для получения данных полигонов
            $.ajax({
                url: baseUrl + '/qgis_polygon',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    L.geoJSON(data, {
                        style: function(feature) {
                            var color = feature.properties.color;

                            return {
                                fillColor: color,
                                color: color,
                                weight: 1,
                                fillOpacity: 0.6
                            }
                        },
                        onEachFeature: function(feature, layer) {
                            layer.bindPopup(getPolygonContent(feature.properties));
                        }

                    }).addTo(polygonLayer);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                },
            });

            function getPolygonContent(properties) {

                    var polygonContent = '';
                    if (properties.p_type !== null) {
                        polygonContent += '<b>Тип: </b>' + properties.p_type + '<br>';
                    }
                    if (properties.p_count !== null) {
                        polygonContent += '<b>Количество: </b>' + properties.p_count + '<br>';
                    }
                    if (properties.p_oskm !== null) {
                        polygonContent += 'ОСКМ' + properties.p_oskm + '<br>';
                    }
                return polygonContent;
            }

            // Контроль переключения между слоями
            var overlayMaps = {
                "Все опоры": pointLayer,
                "ОСБ": osbLayer,
                "ОСKM": oskmLayer,
                "Муфты": couplingLayer,
                "Базовые станции": bstationLayer,
                "Покрытие": polygonLayer,
                "Линии все": lineLayerGroup,
                "Линии проектные": projectLineLayerGroup,
                "Линии фактические": realLineLayerGroup,
            };
            L.control.layers(null, overlayMaps).addTo(map);

        });
    </script>
</body>
</html>
